@import url(./top-main.css);
@import url(./animations.css);
@import url(./responsive.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;  /* omit horizontal scroll */
    scroll-behavior: smooth;
}

:root {
    --bg-top-main: #111111;
    --fg-top-main: #fff8f8;
    --bg-nav-fade: #1d1d1d;
}


body > main {
    height: 100vh;
    width: 100vw;
    margin: 0;
}

footer {
    background-color: var(--bg-top-main);
    color: var(--fg-top-main);
    display: grid;
    place-items: center;
    padding: .75em;
}

.gototop {
    position: fixed;
    height: 70px;
    width: 70px;
    background-color: rgba(17, 17, 17, 0.5);
    color: white;
    bottom: 2em;
    right: 2em;
    border-radius: 50%;
    place-items: center;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    display: none;
    transition: 100ms opacity ease-in;
}